@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Syne+Mono&display=swap');

body{
    font-family: 'Syne Mono', monospace;
    padding:0;
    margin:0;
    background-color: rgb(217, 245, 235);
    direction: ltr;
}
.container{
width:80%;
margin:auto;
overflow: hidden; 
}

.container.position-relative{
width:80%;
margin:auto;
overflow: hidden; 
display: inline-flex;
}

#branding{
    margin-left: 20px;
    margin-bottom: 0;
}


ul{
    margin-left: 50px;
    padding-left:0px;
    margin-top: 40px;

}


header{
background: rgb(252, 252, 252);
color: rgb(0, 0, 0);
padding-top: 30px;
min-height: 70px;
border-bottom: rgb(85, 84, 84) 10px solid;
}
header a{
    color: rgb(255, 196, 0);
    text-decoration:none;
}
header li{
    float: none;
    display:inline;
    padding: 0 20px 0 20px;
}





header a:hover{
    color: rgb(0, 0, 0);
    font-weight: bold ;
    font-style: italic;
}
#showcase{
    min-height: 400px;
 background: url('../img/image.jpg') no-repeat center;   
background-size: cover;
text-align: center;
color:rgb(0, 0, 0);
}
#showcase h1{
    margin-top: 100px;
    font-size: 50px;
    margin-bottom: 10px;
}
#showcase p{
    font-size: 20px;

}
#newsletter{
    padding:15px;
    color: white;
    background-color: rgb(48, 48, 48);
}
#newsletter h1{
    float: right;
    margin-top: 33px;
}
#newsletter form{
    float: left;
 margin-top:10px;
}

#newsletter input[type="email"]
{
    padding: 4px;
    height:25px;
    width: 250px;

}
.button{
height:40px;
background: #cccccc;
padding-left: 20px;
padding-right: 20px;
color: #353637;

}
#boxes{
    margin-top:20px ;
}
#boxes .box{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}
footer{
    padding: 20px;
    margin-top: 20px;
    color: white;
    background: rgb(114, 115, 117);
    text-align: center;
}

